:root {
  color-scheme: light dark;
  --word-suggetions-bg: light-dark(#eef3ff, #212529);
}

.word {
  position: relative;
}

.word.unknown {
  text-decoration: underline dotted var(--bs-danger);
}

.word.has-options {
  cursor: pointer;
}

.word.unknown.has-options:hover::before {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: calc(100% + 6px);
  height: calc(1rem + 4px);
  background-color: var(--bs-danger-bg-subtle);
  border-radius: 4px;
  z-index: -1;
}

.word.has-options:hover::before {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: calc(100% + 6px);
  height: calc(1rem + 4px);
  /* background-color: #eef3ff; */
  background-color: var(--word-suggetions-bg);
  border-radius: 4px;
  z-index: -1;
}
